<%= form_with model: [@org, @season, @league, @game], local: true do |form| %>

  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:
      </h2>
      <ul>
        <%= @game.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :team_1 %><br />
    <%= form.collection_select :team_1_id, @league.teams, :id, :name, {selected: @game.team_1_id}, {class: 'form-control' }%>
  </div>

  <div class="form-group">
    <%= form.label :team_2 %><br />
    <%= form.collection_select :team_2_id, @league.teams, :id, :name, {selected: @game.team_2_id}, {class: 'form-control' }%>
  </div>

  <div class="form-group">
    <%= form.label :date %><br />
    <%= form.datetime_select :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Score</label><br />
    <%= form.label 'Team 1' %>
    <%= form.number_field :team_1_points, class: 'form-control' %>
    <%= form.label 'Team 2' %>
    <%= form.number_field :team_2_points, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
